@font-face {
    font-family: metropolis;
    src: url(Metropolis.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #cde2df;
}
#title {
    font-size: 48px;
    font-family: metropolis, 'Times New Roman', Times, serif;
}

.header {
    width: 100%;
    height: 100px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.main-section {
    height: 100vh;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
#add-book-form {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    background-color: #b2beb4;
}
#form-book-pages {
    width: 50px;
}

#add-book {
    font-size: 18px;
    width: auto;
    padding: 8px 40px;

    border: 1px solid #337266;
    border-radius: 100px;
    background: #e1eec3; 
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  
    background: linear-gradient(to right, #f05053, #e1eec3); 

}
#add-book:hover {
    cursor: pointer;

    background: #e1eec3;
}

#library-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;

}

/* Library book Cards  */
.library-book {
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.library-book-title {
    font-size: 24px;
    font-family: metropolis, 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
}
.library-book-author {
    font-size:18px;
    color: #202020;
    overflow-wrap: break-word;
}
.library-book-pages {
    font-size: 12px;
    color: #424242;
    overflow-wrap: break-word;
}

.library-book-readToggle, .library-book-remove {

    border: none;
    border-radius: 100px;
    padding: 10px 20px;
}
.library-book-readToggle {
    background-color: #72dfcd;
}
.library-book-readToggle:hover {
    background-color: #74ffe8;
    cursor: pointer;
}

.library-book-remove {
    border: 1px solid rgb(146, 146, 146);
}
.library-book-remove:hover {
    background-color: #e78284;
    cursor: pointer;
}

.BookIsRead {
    opacity: 0.7;
}
.BookIsRead::before {
    content: "";
    display: inline;
    background-image: url(images/checkmark.png);
    background-size: 25px;
    width: 25px;
    height: 25px;
}
.removedBook {
    display: none;
}